<a href="https://colab.research.google.com/github/zoegarm/Equipo_2_P2_Analisis/blob/main/Pregunta5_limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Equipo 2**
## **Proyecto: Cáncer de mama en México**

#### Integrantes:
- Zoé Ariel García Martínez
- Atenea De La Cruz Brito
- Juan Luis Carrillo de la Cruz

### **Pregunta de investigación 5**
####**Pregunta 5. ¿Qué relación existe entre otras enfermedades y factores de riesgo con el cáncer de mama?**

####**Dataset 1:** Encuesta Nacional de Salud y Nutrición, Componente de Salud, México

- **Observaciones:** Individuos de 20 años o más, muestra
- **Periodo:** 2018
- **Archivo:** "ensanut_cancer.csv"
- **Fuente:** INEGI e INSP.

In [ ]:
#Importar bibliotecas
import pandas as pd
import numpy as np
import statistics
import seaborn as sns
import matplotlib.pyplot as plt

####**I. Cargar dataset**

In [ ]:
ensanut = pd.read_csv("/content/CS_ADULTOS.csv")
ensanut.head()

   UPM  VIV_SEL  HOGAR  NUMREN  ...  FECHA_ENT  DIFERENCIA  HIJ_ULT5AD  HIJ_ULT1AD
0   38        3      1       1  ...    24226.0         NaN         NaN         NaN
1   38        4      1       1  ...    24226.0       106.0         2.0         2.0
2   38        5      1       1  ...    24226.0         NaN         NaN         NaN
3   39        1      1       1  ...    24226.0         NaN         NaN         NaN
4   39        2      1       2  ...    24226.0         NaN         NaN         NaN

[5 rows x 561 columns]

In [ ]:
#Dimensión de DF original
ensanut.shape

(6691, 561)

####**II. Limpieza**
- Filtrado
- Eliminación de columnas innecesarias
- Renombrar columnas
- Eliminación de NaNs.
- Cambio de tipo de dato.

In [ ]:
#Filtro para obtener observaciones de mujeres
filtro_mujer = ensanut['SEXO'] == 2
#Filtro para obtener mujeres con aplicación de exploración de mama o mastografía
filtro_preventivos1 = ensanut['P10_7_3'] == 1
filtro_preventivos2 = ensanut['P10_1_4'] == 1

ensanut_filtrado = ensanut[filtro_mujer]
#Dimensión de Df con encuestas aplicadas únicamente a mujeres
ensanut_filtrado.shape

(3604, 561)

In [ ]:
#Resultado de filtrado mujeres con aplicación de medicina preventiva de mama
ensanut_filtrado = ensanut_filtrado[filtro_preventivos1 | filtro_preventivos2]
ensanut_filtrado.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(563, 561)

In [ ]:
ensanut_filtrado.head()

    UPM  VIV_SEL  HOGAR  NUMREN  ...  FECHA_ENT  DIFERENCIA  HIJ_ULT5AD  HIJ_ULT1AD
1    38        4      1       1  ...    24226.0       106.0         2.0         2.0
4    39        2      1       2  ...    24226.0         NaN         NaN         NaN
5    39        3      1       2  ...    24226.0         NaN         NaN         NaN
19   50        5      1       2  ...    24227.0         NaN         NaN         NaN
21   51        2      1       2  ...    24224.0         NaN         NaN         NaN

[5 rows x 561 columns]

In [ ]:
#Eliminar columnas no necesarias
ensanut_f_drop = ensanut_filtrado.drop(["UPM","VIV_SEL","HOGAR","NUMREN",
                                        "P1_2","P1_3","P1_4","P1_5","P1_6",
                                        "P1_7","P1_8","P1_9","P1_10_1","P1_10_2",
                                        "P1_10_3","P1_10_4","P1_10_5","P1_10_6",
                                        "P1_10_7","P1_10_8","P1_10_9","P1_10_10",
                                        "P2_1_1","P2_1_2","P2_1_4","P2_1_5",
                                        "P2_1_6","P3_2","P3_3","P3_3V","P3_4",
                                        "P3_5D","P3_5M","P3_5A","P3_6","P3_7_1",
                                        "P3_7_2","P3_7_3","P3_7_4","P3_7_5",
                                        "P3_7_6","P3_7_7","P3_7_8","P3_7_9",
                                        "P3_7_10","P3_7_11","P3_7_12","P3_8",
                                        "P3_9M","P3_9A","P3_10M","P3_10A","P3_11",
                                        "P3_12","P3_13_1","P3_13_2","P3_13_3",
                                        "P3_13_4","P3_13_5","P3_14_1","P3_15_1",
                                        "P3_14_2","P3_15_2","P3_14_3","P3_15_3",
                                        "P3_14_4","P3_15_4","P3_14_5","P3_15_5",
                                        "P3_14_6","P3_15_6","P3_14_7","P3_15_7",
                                        "P3_14_8","P3_16_1","P3_16_2","P3_16_3",
                                        "P3_16_4","P3_16_5","P3_16_6","P3_16_7",
                                        "P3_16_8","P3_16_9","P3_16_10","P3_16_11",
                                        "P3_16_12","P3_16_13","P3_16_14","P3_16_15",
                                        "P3_16_16","P3_16_17","P3_16_18","P3_16_19",
                                        "P3_17","P3_18_1","P3_18_2","P3_18_3",
                                        "P3_18_4","P3_18_5","P3_18_6","P3_18_7",
                                        "P3_18_8","P3_18_9","P4_2M","P4_2A","P4_3",
                                        "P4_4","P4_5M","P4_5A","P4_6","P4_7",
                                        "P4_8_1","P4_8_2","P4_8_3","P4_8_4","P4_8_5",
                                        "P4_9","P4_9_1","P4_10_1","P4_10_2",
                                        "P4_10_3","P4_10_4","P4_10_5","P4_10_5V",
                                        "P4_10_6","P4_10_6V","P4_10_6C","P5_1",
                                        "P5_3","P5_4","P5_5","P5_6","P5_7","P6_2_1",
                                        "P6_2_2","P6_2_3","P6_2_4","P6_2_5","P6_2_6",
                                        "P6_2_7","P6_3","P6_4","P6_5_1","P6_5_2",
                                        "P6_5_3","P6_5_4","P6_6","P6_7_1","P6_7_2",
                                        "P6_7_3","P6_7_4","P6_8_1","P6_8_2","P6_8_3",
                                        "P6_8_4","P6_8_5","P6_8_6","P6_9","P7_1",
                                        "P7_2","P7_3","P7_1_1","P7_2_1","P7_3_1",
                                        "P7_4_1","P7_5_1","P7_1_2","P7_2_2","P7_3_2",
                                        "P7_4_2","P7_5_2","P7_1_3","P7_2_3","P7_3_3",
                                        "P7_4_3","P7_5_3","P8_1","P8_2_1","P8_2_2",
                                        "P8_2_3","P8_2_4","P8_2_5","P8_2_6","P8_2_7",
                                        "P8_2_8","P8_2_9","P8_2_10","P8_2_11",
                                        "P8_2_12","P8_2_13","P8_2_14","P8_2_15",
                                        "P8_3_1","P8_3_2","P8_3_3","P8_3_4","P8_3_5",
                                        "P8_3_6","P8_3_7","P8_3_8","P8_3_9","P8_3_10",
                                        "P8_3_11","P8_3_12","P8_3_13","P8_3_14",
                                        "P8_3_15","P8_3_16","P8_3_17","P8_4","P8_5",
                                        "P8_6M","P8_6A","P8_7","P8_8","P8_9","P8_10",
                                        "P8_11_1","P8_11_2","P8_11_3","P8_11_4",
                                        "P8_11_5","P8_13","P8_14_1","P8_14_2",
                                        "P8_14_3","P8_14_4","P8_14_5","P8_14_6",
                                        "P8_14_7","P8_15","P8_16","P8_17_1","P8_17_2",
                                        "P8_17_3","P8_17_4","P8_17_5","P8_17_6",
                                        "P8_17_7","P8_17_8","P8_17_9","P8_17_10",
                                        "P8_17_11","P8_17_12","P8_17_13","P8_17_14",
                                        "P8_17_15","P8_17_16","P8_18","P8_19",
                                        "P8_20_1","P8_20_2","P8_21_1","P8_21_2",
                                        "P8_21_3","P8_21_4","P8_21_5","P8_21_6",
                                        "P8_21_7","P8_21_8","P8_21_9","P8_21_10",
                                        "P8_21_11","P8_21_12","P8_21_13","P8_21_14",
                                        "P8_22","P8_23","P8_24_1","P8_24_2","P8_24_3",
                                        "P8_25_1","P8_25_2","P8_26_1","P8_26_2",
                                        "P8_26_3","P8_26_4","P8_26_5","P8_26_6",
                                        "P8_26_7","P8_26_8","P8_26_9","P8_26_10",
                                        "P8_27","P8_28","P8_29_1","P8_29_2","P8_29_3",
                                        "P8_29_4","P8_29_5","P8_30","P8_31","P8_32",
                                        "P9_1","P9_2","P9_3","P9_4","P9_5","P9_6",
                                        "P9_7","P9_8","P9_9_A1","P9_9_B1D","P9_9_B1M",
                                        "P9_9_B1A","P9_9_C1","P9_9_A2","P9_9_B2D",
                                        "P9_9_B2M","P9_9_B2A","P9_9_C2","P9_9_A3",
                                        "P9_9_B3D","P9_9_B3M","P9_9_B3A","P9_9_C3",
                                        "P9_10_A1","P9_10_B1D","P9_10_B1M","P9_10_B1A",
                                        "P9_10_C1","P9_10_A2","P9_10_B2D","P9_10_B2M",
                                        "P9_10_B2A","P9_10_C2","P9_10_A3","P9_10_B3D",
                                        "P9_10_B3M","P9_10_B3A","P9_10_C3","P9_10_A4",
                                        "P9_10_B4D","P9_10_B4M","P9_10_B4A","P9_10_C4",
                                        "P9_11_A1","P9_11_B1D","P9_11_B1M","P9_11_B1A",
                                        "P9_11_C1","P9_12_A1","P9_12_B1D","P9_12_B1M",
                                        "P9_12_B1A","P9_12_C1","P9_12_A2","P9_12_B2D",
                                        "P9_12_B2M","P9_12_B2A","P9_12_C2","P9_13",
                                        "P9_14","P9_15","P9_16","P9_17","P9_18",
                                        "P9_19","P9_20","P9_21","P9_22_A1","P9_22_B1D",
                                        "P9_22_B1M","P9_22_B1A","P9_22_C1","P9_22_A2",
                                        "P9_22_B2D","P9_22_B2M","P9_22_B2A","P9_22_C2",
                                        "P9_22_A3","P9_22_B3D","P9_22_B3M","P9_22_B3A",
                                        "P9_22_C3","P9_23_A1","P9_23_B1D","P9_23_B1M",
                                        "P9_23_B1A","P9_23_C1","P9_23_A2","P9_23_B2D",
                                        "P9_23_B2M","P9_23_B2A","P9_23_C2","P9_23_A3",
                                        "P9_23_B3D","P9_23_B3M","P9_23_B3A","P9_23_C3",
                                        "P9_23_A4","P9_23_B4D","P9_23_B4M","P9_23_B4A",
                                        "P9_23_C4","P9_24_A1","P9_24_B1D","P9_24_B1M",
                                        "P9_24_B1A","P9_24_C1","P9_25","P10_1_1",
                                        "P10_2_1","P10_3_1","P10_4_1","P10_6_1",
                                        "P10_7_1","P10_1_2","P10_2_2","P10_3_2",
                                        "P10_4_2","P10_6_2","P10_7_2","P10_1_3",
                                        "P10_2_3","P10_3_3","P10_4_3","P10_6_3",
                                        "P10_7_3","P10_1_4","P10_2_4","P10_4_4",
                                        "P10_6_4","P10_7_4","P10_1_5","P10_2_5",
                                        "P10_3_5","P10_4_5","P10_6_5","P10_7_5",
                                        "P10_1_6","P10_2_6","P10_3_6","P10_4_6",
                                        "P10_5_6","P10_6_6","P10_7_6","P10_1_7",
                                        "P10_2_7","P10_3_7","P10_4_7","P10_5_7",
                                        "P10_6_7","P10_7_7","P10_1_8","P10_2_8",
                                        "P10_3_8","P10_4_8","P10_5_8","P10_6_8",
                                        "P10_7_8","P10_1_9","P10_2_9","P10_3_9",
                                        "P10_4_9","P10_5_9","P10_6_9","P10_7_9",
                                        "P10_1_10","P10_2_10","P10_3_10","P10_4_10",
                                        "P10_5_10","P10_6_10","P10_7_10","P10_1_11",
                                        "P10_2_11","P10_3_11","P10_4_11","P10_5_11",
                                        "P10_6_11","P10_7_11","P11_1","P11_2","P11_3",
                                        "P11_4","P11_5","P11_6","P11_7","P11_8",
                                        "P12_1","P12_2_1","P12_2_2","P12_2_3",
                                        "P12_2_4","P12_2_5","P12_2_6","P12_2_7",
                                        "P12_2_8","P12_2_9","P12_2_10","P12_2_11",
                                        "P12_3","P12_4_1","P12_5","P12_6","P12_7",
                                        "P12_7_1","P12_8","P12_8_1","P13_1","P13_4",
                                        "P13_5","P13_6","P13_6_1","P13_7_1","P13_7_2",
                                        "P13_8","P13_8_1","P13_9","P13_12_2","P13_13M",
                                        "P13_13A","P13_14","P14_1","P14_2","P14_3",
                                        "P14_4","P14_5","P14_6","P14_7","P14_8",
                                        "P14_9","P14_10","SEXO","EST_DIS","UPM_DIS",
                                        "ESTRATO","F_20MAS","FECHA_NAC","FECHA_ENT",
                                        "DIFERENCIA","HIJ_ULT5AD","HIJ_ULT1AD"], axis=1)

In [ ]:
#Resultado de eliminación de columnas irrelevantes
ensanut_f_drop.head()

    P1_1  P2_1_3  P2_1_7  P2_2  P3_1  ...  P13_12_1  EDAD  ENT  DOMINIO  REGION
1      1       3       1     2     3  ...       4.0  41.0  1.0      1.0     2.0
4      2       3       4     1     3  ...       4.0  52.0  1.0      1.0     2.0
5      1       1       1     2     3  ...       2.0  46.0  1.0      1.0     2.0
19     1       1       2     2     3  ...       NaN  62.0  1.0      1.0     2.0
21     2       1       2     1     3  ...       4.0  76.0  1.0      1.0     2.0

[5 rows x 27 columns]

In [ ]:
#Dimensión de DF con columnas seleccionadas
ensanut_f_drop.shape

(563, 27)

In [ ]:
ensanut_f_drop.columns

Index(['P1_1', 'P2_1_3', 'P2_1_7', 'P2_2', 'P3_1', 'P4_1', 'P5_2_1', 'P5_2_2',
       'P5_2_3', 'P6_1_1', 'P6_1_2', 'P6_1_3', 'P10_5_1', 'P10_5_2', 'P10_5_3',
       'P10_3_4', 'P10_5_4', 'P10_5_5', 'P13_2', 'P13_3', 'P13_10', 'P13_11',
       'P13_12_1', 'EDAD', 'ENT', 'DOMINIO', 'REGION'],
      dtype='object')

In [ ]:
#Renombrar columnas

column_name_mapping = {
      'P1_1': 'obesidad', 
      'P2_1_3': 'depresión', 
      'P2_1_7': 'tristeza', 
      'P2_2': 'fatiga', 
      'P3_1': 'diabetes', 
      'P4_1': 'hipertensión', 
      'P5_2_1': 'infarto', 
      'P5_2_2': 'angina_de_pecho',
      'P5_2_3': 'insuficiencia_cardiaca',
      'P6_1_1': 'vías_urinarias',
      'P6_1_2': 'cálculos_renales',
      'P6_1_3': 'insuficiencia_renal',
      'P10_5_1': 'papanicolaou',
      'P10_5_2': 'papiloma',
      'P10_5_3': 'exploración_senos',
      'P10_3_4': 'síntoma_previo_mama',
      'P10_5_4': 'cáncer_mama',
      'P10_5_5': 'tuberculosis',
      'P13_2': 'fuma_actual',
      'P13_3': 'fumó_pasado',
      'P13_10': 'cigarro_electrónico',
      'P13_11': 'bebe_actual',
      'P13_12_1': 'bebe_frecuencia',
      'EDAD': 'edad',
      'ENT': 'estado',
      'DOMINIO': 'urbano_rural',
      'REGION': 'región'
}

In [ ]:
ensanut_f_d_rename = ensanut_f_drop.rename(columns=column_name_mapping)
ensanut_f_d_rename.head()

    obesidad  depresión  tristeza  fatiga  ...  edad  estado  urbano_rural  región
1          1          3         1       2  ...  41.0     1.0           1.0     2.0
4          2          3         4       1  ...  52.0     1.0           1.0     2.0
5          1          1         1       2  ...  46.0     1.0           1.0     2.0
19         1          1         2       2  ...  62.0     1.0           1.0     2.0
21         2          1         2       1  ...  76.0     1.0           1.0     2.0

[5 rows x 27 columns]

In [ ]:
#NaN por columna
ensanut_f_d_rename.isna().sum(axis=0)

obesidad                    0
depresión                   0
tristeza                    0
fatiga                      0
diabetes                    0
hipertensión                0
infarto                     0
angina_de_pecho             0
insuficiencia_cardiaca      0
vías_urinarias              0
cálculos_renales            0
insuficiencia_renal         0
papanicolaou              245
papiloma                  440
exploración_senos         195
síntoma_previo_mama         0
cáncer_mama                80
tuberculosis              537
fuma_actual                 0
fumó_pasado               532
cigarro_electrónico        14
bebe_actual                 0
bebe_frecuencia           270
edad                        0
estado                      0
urbano_rural                0
región                      0
dtype: int64

In [ ]:
#Limpieza de columnas con numerosos NaN
ensanut_clean = ensanut_f_d_rename.drop(['papanicolaou', 'papiloma', 'tuberculosis', 'fumó_pasado', 'bebe_frecuencia'], axis=1) 
ensanut_clean.head()

    obesidad  depresión  tristeza  fatiga  ...  edad  estado  urbano_rural  región
1          1          3         1       2  ...  41.0     1.0           1.0     2.0
4          2          3         4       1  ...  52.0     1.0           1.0     2.0
5          1          1         1       2  ...  46.0     1.0           1.0     2.0
19         1          1         2       2  ...  62.0     1.0           1.0     2.0
21         2          1         2       1  ...  76.0     1.0           1.0     2.0

[5 rows x 22 columns]

In [ ]:
#Rellenar NaN con 8=No responde
ensanut_clean['exploración_senos'] = ensanut_clean['exploración_senos'].fillna(8)

In [ ]:
ensanut_clean['cáncer_mama'] = ensanut_clean['cáncer_mama'].fillna(8)
ensanut_clean['cigarro_electrónico'] = ensanut_clean['cigarro_electrónico'].fillna(8)

In [ ]:
#NaN por columna
ensanut_clean.isna().sum(axis=0)

obesidad                  0
depresión                 0
tristeza                  0
fatiga                    0
diabetes                  0
hipertensión              0
infarto                   0
angina_de_pecho           0
insuficiencia_cardiaca    0
vías_urinarias            0
cálculos_renales          0
insuficiencia_renal       0
exploración_senos         0
síntoma_previo_mama       0
cáncer_mama               0
fuma_actual               0
cigarro_electrónico       0
bebe_actual               0
edad                      0
estado                    0
urbano_rural              0
región                    0
dtype: int64

In [ ]:
ensanut_clean

      obesidad  depresión  tristeza  fatiga  ...  edad  estado  urbano_rural  región
1            1          3         1       2  ...  41.0     1.0           1.0     2.0
4            2          3         4       1  ...  52.0     1.0           1.0     2.0
5            1          1         1       2  ...  46.0     1.0           1.0     2.0
19           1          1         2       2  ...  62.0     1.0           1.0     2.0
21           2          1         2       1  ...  76.0     1.0           1.0     2.0
...        ...        ...       ...     ...  ...   ...     ...           ...     ...
6617         2          1         2       2  ...  54.0     8.0           2.0     1.0
6623         2          1         1       2  ...  45.0     9.0           1.0     3.0
6624         2          1         1       2  ...  50.0     9.0           1.0     3.0
6656         1          1         1       2  ...  65.0     9.0           1.0     3.0
6666         2          1         1       2  ...  51.0     9.0           1.0     3.0

[563 rows x 22 columns]

In [ ]:
#Filtrar 8=No responde 9=No sabe en pregunta detección de cáncer de mama
filtro_cancer = ensanut_clean['cáncer_mama'] < 3
ensanut_cancer = ensanut_clean[filtro_cancer]

In [ ]:
ensanut_cancer.shape

(478, 22)

In [ ]:
ensanut_cancer.dtypes

obesidad                  int64
depresión                 int64
tristeza                  int64
fatiga                    int64
diabetes                  int64
hipertensión              int64
infarto                   int64
angina_de_pecho           int64
insuficiencia_cardiaca    int64
vías_urinarias            int64
cálculos_renales          int64
insuficiencia_renal       int64
exploración_senos         int64
síntoma_previo_mama       int64
cáncer_mama               int64
fuma_actual               int64
cigarro_electrónico       int64
bebe_actual               int64
edad                      int64
estado                    int64
urbano_rural              int64
región                    int64
urbano_rurala             int64
dtype: object

In [ ]:
#Convertir decimales a enteros
ensanut_cancer['exploración_senos'] = ensanut_cancer['exploración_senos'].apply(np.int64)
ensanut_cancer['síntoma_previo_mama'] = ensanut_cancer['síntoma_previo_mama'].apply(np.int64)
ensanut_cancer['cáncer_mama'] = ensanut_cancer['cáncer_mama'].apply(np.int64)
ensanut_cancer['fuma_actual'] = ensanut_cancer['fuma_actual'].apply(np.int64)
ensanut_cancer['cigarro_electrónico'] = ensanut_cancer['cigarro_electrónico'].apply(np.int64)
ensanut_cancer['bebe_actual'] = ensanut_cancer['bebe_actual'].apply(np.int64)
ensanut_cancer['edad'] = ensanut_cancer['edad'].apply(np.int64)
ensanut_cancer['estado'] = ensanut_cancer['estado'].apply(np.int64)
ensanut_cancer['urbano_rural'] = ensanut_cancer['urbano_rural'].apply(np.int64)
ensanut_cancer['región'] = ensanut_cancer['región'].apply(np.int64)

In [ ]:
#DF Final limpio
ensanut_cancer

      obesidad  depresión  tristeza  ...  urbano_rural  región  urbano_rurala
1            1          3         1  ...             1       2              1
5            1          1         1  ...             1       2              1
19           1          1         2  ...             1       2              1
21           2          1         2  ...             1       2              1
23           1          2         2  ...             1       2              1
...        ...        ...       ...  ...           ...     ...            ...
6599         2          1         1  ...             1       3              1
6623         2          1         1  ...             1       3              1
6624         2          1         1  ...             1       3              1
6656         1          1         1  ...             1       3              1
6666         2          1         1  ...             1       3              1

[478 rows x 23 columns]

####**III. Guardar dataset limpio en csv**

In [ ]:
#Guardar en csv
ensanut_cancer.to_csv(r'/content/drive/MyDrive/ensanut_cancer.csv', index = False)